<!-- Header Bootstrap content-->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand">PostAComment</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" *ngIf="auth.loggedIn">
        <a class="nav-link" [routerLink]="['']"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <div class="dropdown open" *ngIf="auth.loggedIn">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="triggerId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ name }}
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <a class="dropdown-item">Account</a>
          <a class="dropdown-item">Settings</a>
          <a class="dropdown-item" (click)="logout()">logout</a>
        </div>
      </div>
    </ul>
  </div>
</nav>
