div.rounded.card{
  border-radius: 22px!important;
}
div.likebutton{
  border-bottom:2px dashed #efefef;
}
div.col-md-6.col-md-offset-2.col-sm-12{
  padding-left: 100px;
}
.comment-wrapper .panel-body {
  max-height:650px;
  align-content: center;
}
.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}
div.panel-heading{
  font-family: "Times New Roman";
  font-size: 2.5em;
}
h3.card-title{
  font-family: sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
}
div#text-cont.container{
  font-family: sans-serif;
  font-size: 1em;
}
button.btn{
  box-shadow: none!important;
}
i.fa.fa-thumbs-up.fa-lg:hover{
  color: steelblue;
}
p.mb-0{
  color: steelblue;
  font-size: 1.5em;
}
i.fa.fa-eye{
  font-size: 21px;
  color: steelblue;
  margin-top: 0.5rem;
}
span.num{
  color: steelblue;
}
span.num.eye{
  padding-left: 0.7rem;
}
span.badge.badge-pill.badge-primary{
  font-size: 0.7rem;
  background-color: steelblue;
  color: whitesmoke;
}

input.form-control{
  box-shadow: none!important;
}

textarea.form-control{
  box-shadow: none!important;
}
