div.rounded.card{
  border-radius: 22px!important;
  border-color: steelblue!important;
}
div.container{
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 50%;
  margin-bottom: 5%;
}
div.card-header.rounded{
  margin: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 40px!important;
  background-color: steelblue;
}
span.fa.fa-user::before{
  padding-left: 12rem;
  color: whitesmoke;
  font-size: 40px!important;
}
label{
  color: steelblue;
}
div.card-footer.rounded{
  background-color: steelblue;
  border-radius: 40px!important;
  margin: 3%;
  padding-left: 12%;
}
ul.list-unstyled.list-inline.social.text-center{
  color: whitesmoke;
  padding-left: 125px;
  font-size: 25px;
  padding-top: 1px;
  padding-bottom: 0%!important;
  margin: 0%;
}
button.btn.btn-primary{
  color: steelblue;
  background-color: whitesmoke;
  border-color: steelblue!important;
  box-shadow: none!important;
}
button.btn.btn-primary:hover{
  color: whitesmoke;
  background-color: steelblue;
}
