<div class="container">
  <div class="rounded card">


    <div class="card-header rounded">
      <span class="fa fa-user"></span>
    </div>

    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="validLoginForm(loginForm.value)">

        <div class="form-row">
          <div class="form-group">
            <label for="">email</label>
            <input type="text" formControlName="email" name="" id="email-login" class="form-control"
                   [ngClass]="{'is-invalid':submission && lpa.email.errors}" placeholder="" aria-describedby="helpId">
            <div *ngIf="submission && lpa.email.errors" class="invalid-feedback">
              <div *ngIf="lpa.email.hasError('hasspace')">enter your email.</div>
            </div>
          </div>
        </div>

        <div class="form-row" id="passwd">
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" formControlName="password" name="" id="psd-login"  class="form-control"
                   [ngClass]="{'is-invalid':submission && lpa.password.errors}" placeholder=""
                   aria-describedby="helpId">
            <div *ngIf="submission && lpa.password.errors" class="invalid-feedback">
              <div *ngIf="lpa.password.errors">enter your password.</div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">LogIn</button>
        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Don't have an account? <a [routerLink]="['/signup']" class="ml-2">Sign Up</a>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer rounded">
      <div class="row">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
